<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @film.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @film.year %>
</p>

<p>
  <strong>Free:</strong>
  <%= @film.free %>
</p>

<p>
  <strong>Description:</strong>
  <%= @film.description %>
</p>

<p>
  <% if @film.genre %>
    <strong>Genre:</strong>
    <%= @film.genre.name %>
  <% end %>
</p>

<%= link_to 'Edit', edit_film_path(@film) %> |
<%= link_to 'Back', films_path %>
